.game-cover-pic {
  /* background-size: cover; */
}

.game-card{
  margin: 20px;
}

.game-card-footer {
  padding: 0 2%
}

.fa-sort-amount-up,
.fa-sort-amount-down,
.fa-filter {
  color: #33cac6;
  user-select: auto;
  font-size: x-large;
  margin: 20%;
  cursor: pointer;
}