/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #303030; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#container {
  min-height:100%;
  position:relative;
}

main {
  flex: 1 0 auto;
}

.page-footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
}

.clear { clear: both; height: 60px; }